
 
<div class="sidebar" [class.open]="isOpen">
  <div class="menu-item toggle" (click)="toggleSidebar()">
    <i class="fas fa-bars" ></i>
    <span *ngIf="isOpen">მენიუ</span>
  </div>

 
  <!-- <a class="menu-item" href="#">
     <a routerLink="/home"routerLinkActive="active"><i class="fas fa-train"></i></a>
    <span *ngIf="isOpen">გამგზავრება</span>
  </a>


  <a class="menu-item" href="#">
    <a routerLink="/login"routerLinkActive="active"><i class="fas fa-sign-in-alt"></i></a>
    <span *ngIf="isOpen">შესვლა</span>
  </a>


  <a class="menu-item" href="#">
    <a routerLink="/tickets"routerLinkActive="active"><i class="fas fa-user-plus"></i></a>
    <span *ngIf="isOpen">რეგისტრაცია</span>
  </a>


  <a class="menu-item" href="#">
     <a routerLink="/trips"routerLinkActive="active"> <i class="fas fa-cog"></i></a>
    <span *ngIf="isOpen">პარამეტრები</span>
  </a>
</div>
 -->
<a class="menu-item" routerLink="/home" routerLinkActive="active">
  <i class="fas fa-train"></i>
  <span *ngIf="isOpen">გამგზავრება</span>
</a>

<a class="menu-item" routerLink="/login" routerLinkActive="active">
  <i class="fas fa-sign-in-alt"></i>
  <span *ngIf="isOpen">შესვლა</span>
</a>

<a class="menu-item" routerLink="/tickets" routerLinkActive="active">
  <i class="fa-solid fa-ticket"></i>
  <span *ngIf="isOpen">რეგისტრაცია</span>
</a>
<a class="menu-item" routerLink="/register" routerLinkActive="active">
  <i class="fas fa-user-plus"></i>
  <span *ngIf="isOpen">რეგისტრაცია</span>
</a>

<a class="menu-item" routerLink="/trips" routerLinkActive="active">
  <i class="fa-solid fa-map-location-dot"></i>
  <span *ngIf="isOpen">ბილეთის ძებნა</span>
</a>
<a class="menu-item" routerLink="/tickets" routerLinkActive="active">
  <i class="fa-solid fa-check"></i>
  <span *ngIf="isOpen">ბილეთის შემოწმება</span>
</a>