
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 60px;
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 1000;
}

.sidebar.open {
  width: 220px;
}


.menu-item {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  gap: 15px;
  color: #f3f4f6;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px solid #374151;
  transition: background 0.2s;
}

.menu-item:hover {
  background-color: #374151;
  color: #fbbf24;
  cursor: pointer;
}

.menu-item i {
  font-size: 18px;
  width: 24px;
  text-align: center;
}


.menu-item.toggle {
  background-color: #111827;
  border-bottom: 2px solid #4b5563;
}


.menu-item span {
  white-space: nowrap;
}
.menu-item.active {
  background-color: #374151;
  color: #2567f5;
}






@media (max-width: 768px) {
  
  .sidebar {
    position: fixed;
    top: 0;
    left: -220px; 
    width: 200px;
    height: 100%;
    transition: left 0.3s ease;
    z-index: 2000;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.5);
  }
  .sidebar.open {
    left: 0; 
  }

  .mobile-icon-menu {
    position: fixed;
    bottom: 250px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: transparent;
    z-index: 3000;
  }
  .mobile-icon-menu .icon-item {
    color: #f3f4f6;
    text-decoration: none;
    font-size: 24px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s;
  }
  .mobile-icon-menu .icon-item:hover {
    background-color: rgba(255,255,255,0.2);
    color: #fbbf24;
  }
  .sidebar.open ~ .mobile-icon-menu {
    display: none;
  }
}
@media (max-width:520px) {
  

  .mobile-icon-menu {
    position: fixed;
    bottom: 450px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: transparent;
    z-index: 3000;
  }
  .mobile-icon-menu .icon-item {
    color: #f3f4f6;
    text-decoration: none;
    font-size: 18px;
    width: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s;
  }
  .mobile-icon-menu .icon-item:hover {
    background-color: rgba(255,255,255,0.2);
    color: #fbbf24;
  }
  .sidebar.open ~ .mobile-icon-menu {
    display: none;
  }
}

