 <!-- <div class="nav-bar">
    <nav class="left">
        <a href="">IT BAHN 🚇</a>
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/tickets" routerLinkActive="active">Tickets & offers</a>
        <a routerLink="/contact" routerLinkActive="active">Services</a>
        <a routerLink="/trips" routerLinkActive="active">my trips</a>
        <a routerLink="/login" routerLinkActive="active">Log in </a>\
    </nav>
       
</div>
  -->

 
<div class="sidebar" [class.open]="isOpen">
  <div class="menu-item toggle" (click)="toggleSidebar()">
    <i class="fas fa-bars" ></i>
    <span *ngIf="isOpen">მენიუ</span>
  </div>

 
  <a class="menu-item" href="#">
     <a routerLink="/home"routerLinkActive="active"><i class="fas fa-train"></i></a>
    <span *ngIf="isOpen">გამგზავრება</span>
  </a>


  <a class="menu-item" href="#">
    <a routerLink="/login"routerLinkActive="active"><i class="fas fa-sign-in-alt"></i></a>
    <span *ngIf="isOpen">შესვლა</span>
  </a>


  <a class="menu-item" href="#">
    <a routerLink="/tickets"routerLinkActive="active"><i class="fas fa-user-plus"></i></a>
    <span *ngIf="isOpen">რეგისტრაცია</span>
  </a>


  <a class="menu-item" href="#">
     <a routerLink="/trips"routerLinkActive="active"> <i class="fas fa-cog"></i></a>
    <span *ngIf="isOpen">პარამეტრები</span>
  </a>
</div>
