<footer class="train-footer">
  <div class="footer-content">
    <div class="footer-logo">
      <i class="fa-solid fa-train"></i>
      <p>It railway<br>more than 100 years 🚂</p>
    </div>

    <div class="footer-social">
      <h4>Follow us</h4>
      <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a>
      <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
    </div>

    <div class="footer-map">
      <h4>Our location</h4>
      <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11938.982525145888!2d44.8014492!3d41.7099814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40447326644b6e5d%3A0x1a9d9e48b6ee804f!2sTbilisi%20Central%20Railway%20Station!5e0!3m2!1sen!2sge!4v1630588932151!5m2!1sen!2sge" 
        width="100%" 
        height="150" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy"
      ></iframe>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 It railway. All rights are reserved.</p>
  </div>
</footer>
