

  <div class="discount-box">
    🎁 <strong>-20%</strong> პირველ გადახდაზე!
  </div>


<div class="booking-form-container">
  <h3>საკონტაქტო ინფორმაცია</h3>
  <input type="text" name="" id="" placeholder="ტელეფონის ნომერი" [(ngModel)]="phoneNumber">
  <input type="email" placeholder="იმეილი" [(ngModel)]="email">
  <h3>მომხმარებლის ინფორმაცია</h3>
  @for(person of seats; track $index){
     <div class="inputs">
         <input type="text" placeholder="სახელი" [(ngModel)]="person.name" >
             <input type="text" placeholder="გვარი" [(ngModel)]="person.surname" >
                 <input type="text" placeholder="Id " [(ngModel)]="person.idNumber">
     </div>
  }
 
  <button (click)="postTicket()">ბილეთის რეგისტრაცია</button>
  <button class="back" (click)="goBack()"  >უკან დაბრუნება</button>
 
</div>
<section class="benefits-section">
   <div class="benefit">
    <i class="fas fa-clock"></i>
    <h3>დროის დაზოგვა</h3>
    <p>ბილეთების შეძენა სახლიდან გაუსვლელად</p>
  </div>
  <div class="benefit">
    <i class="fa-solid fa-money-bill-wave"></i>
    <h3>გადახდის მეთოდები</h3>
      <div class="payment-method">
    <img src="https://download.logo.wine/logo/Mastercard/Mastercard-Logo.wine.png" alt="Zmatser" />
    <span>Matser</span>
  </div>
     <div class="payment-method">
    <img src="https://download.logo.wine/logo/Visa_Inc./Visa_Inc.-Logo.wine.png" alt="Visa" />
    <span>Visa</span>
  </div>
    <div class="payment-method">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRD4IZwz7bJ8wqn5j6xil0Pmpx1cEPARqvxFQ&s" alt="Amex" />
    <span>Amex</span>
  </div>
  </div>
  <div class="benefit">
    <i class="fas fa-route"></i>
    <h3>მრავალფეროვანი მარშრუტები</h3>
    <p>სადაც არ უნდა მიდიოდე – ჩვენ დაგეხმარებით</p>
  </div>
  <div class="benefit">
    <i class="fas fa-shield-alt"></i>
    <h3>უსაფრთხოება</h3>
    <p>დაჯავშნა დაცულ სისტემაში</p>
  </div>
 
<div class="purchased-tickets" *ngIf="purchasedTickets.length">
  <h2>თქვენი ბილეთები</h2>
 
  <div *ngFor="let ticket of purchasedTickets" class="train-ticket">
    <div class="ticket-left">
      <h3 class="route">{{ ticket.from || 'თბილისი' }} → {{ ticket.to || 'ბათუმი' }}</h3>
      <p class="date">🗓 {{ date }}</p>
      <p class="times">
        ⏱ გამგზავრება: {{ ticket.departure || '10:30' }}<br />
        🚉 ჩასვლა: {{ ticket.arrive || '14:45' }}
      </p>
    </div>
 
    <div class="ticket-right">
      <div class="ticket-id">
        <span>ბილეთის ID:</span> #{{ ticket.id || ticket.seatId || '—' }}
      </div>
      <div class="passenger">
        <span>მგზავრი:</span> {{ ticket.name }} {{ ticket.surname }}
      </div>  
       <button class="btn-buy" (click)="confirmTicketInfo()" >ბილეთის ყიდვა</button>
 
      <button class="btn-delete" (click)="deleteTicketInfo()" >წაშლა</button>
 
      <div class="train-icon">🚆</div>
    </div>
  </div>
</div>



 
 
<!-- {
  "trainId": 0,
  "date": "2025-09-11T09:48:00.044Z",
  "email": "string",
  "phoneNumber": "string",
  "people": [
    {
      "seatId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
      "name": "string",
      "surname": "string",
      "idNumber": "string",
      "status": "string",
      "payoutCompleted": true
    }
  ]
} -->