
<div class="booking-form-container">
  <h3>საკონტაქტო ინფორმაცია</h3>
  <input type="text" name="" id="" placeholder="ტელეფონის ნომერი" [(ngModel)]="phoneNumber">
  <input type="email" placeholder="იმეილი" [(ngModel)]="email">
  <h3>მომხმარებლის ინფორმაცია</h3>
  @for(person of seats; track $index){
     <div class="inputs">
         <input type="text" placeholder="სახელი" [(ngModel)]="person.name" >
             <input type="text" placeholder="გვარი" [(ngModel)]="person.surname" >
                 <input type="text" placeholder="Id " [(ngModel)]="person.idNumber">
     </div>
  }
  
  <button (click)="postTicket()">ბილეთის რეგისტრაცია</button>
  <button class="back" >უკან დაბრუნება</button>

</div>

<div class="purchased-tickets" *ngIf="purchasedTickets.length">
  <h2>თქვენი ბილეთები</h2>

  <div *ngFor="let ticket of purchasedTickets" class="train-ticket">
    <div class="ticket-left">
      <h3 class="route">{{ ticket.from || 'თბილისი' }} → {{ ticket.to || 'ბათუმი' }}</h3>
      <p class="date">🗓 {{ date }}</p>
      <p class="times">
        ⏱ გამგზავრება: {{ ticket.departure || '10:30' }}<br />
        🚉 ჩასვლა: {{ ticket.arrive || '14:45' }}
      </p>
    </div>

    <div class="ticket-right">
      <div class="ticket-id">
        <span>ბილეთის ID:</span> #{{ ticket.id || ticket.seatId || '—' }}
      </div>
      <div class="passenger">
        <span>მგზავრი:</span> {{ ticket.name }} {{ ticket.surname }}
      </div>
       <button class="btn-buy" >ბილეთის ყიდვა</button>

      <button class="btn-delete" >წაშლა</button>

      <div class="train-icon">🚆</div>
    </div>
  </div>
</div>


<!-- {
  "trainId": 0,
  "date": "2025-09-11T09:48:00.044Z",
  "email": "string",
  "phoneNumber": "string",
  "people": [
    {
      "seatId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
      "name": "string",
      "surname": "string",
      "idNumber": "string",
      "status": "string",
      "payoutCompleted": true
    }
  ]
} -->