
.main{
  margin: 0;
  padding: 0;
  background: url('https://images.unsplash.com/photo-1527839321757-ad3a2f2be351?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dHJhaW4lMjBzdGF0aW9ufGVufDB8fDB8fHww') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
.login-wrapper {
  position: relative;
  width: 380px;
  margin: auto;
  margin-top: 100px; 
  margin-bottom: 40px;
  background: rgba(25, 25, 25, 0.92);
  border-radius: 12px;
  box-shadow: 0 0 30px rgba(0, 255, 0, 0.06);
  color: white;
  backdrop-filter: blur(4px);
  padding: 2rem;
}

.signal {
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  width: 22px;
  height: 22px;
  background: #4caf50;
  border-radius: 50%;
  box-shadow: 0 0 12px #4caf50;
  transition: background 0.4s ease, box-shadow 0.4s ease;
}

/* 🔴 ციმციმა თუ შეცდომაა */
.signal.error {
  background: #ff1744;
  box-shadow: 0 0 12px #ff5252, 0 0 20px #ff5252;
  animation: blink-red 1s infinite;
}

@keyframes blink-red {
  0% { opacity: 1; }
  50% { opacity: 0.4; }
  100% { opacity: 1; }
}

/* Title */
.title {
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
  letter-spacing: 1px;
}

/* Inputs */
.input-group {
  margin-bottom: 20px;
}
.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #bbb;
}
.input-group input {
  width: 100%;
  padding: 12px;
  background: #2c2c2c;
  border: 1px solid #444;
  border-radius: 6px;
  color: white;
  font-size: 15px;
  transition: border 0.3s ease;
}
.input-group input:focus {
  border-color: #66bb6a;
  outline: none;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 12px;
   background: linear-gradient(to right, #4B6CB7, #182848);
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}
.login-btn:hover {
  background: #1565c0;
}

/* Error Message */
.error-text {
  margin-top: 15px;
  color: #ff5252;
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .login-wrapper {
    width: 90%;
    padding: 30px 20px;
  }

  .title {
    font-size: 18px;
  }

  .input-group input {
    padding: 10px;
    font-size: 14px;
  }

  .login-btn {
    padding: 10px;
    font-size: 15px;
  }

  .error-text {
    font-size: 13px;
  }

  .signal {
    width: 18px;
    height: 18px;
    top: -10px;
  }
}
