<div class="main">
      <div class="login-wrapper">
    <h1 class="title">მატარებლის სისტემაში შესვლა</h1>

    <div class="input-group">
      <label>მომხმარებელი</label>
      <input type="text" placeholder="მაგ. admin" [(ngModel)]="phone" />
    </div>

    <div class="input-group">
      <label>პაროლი</label>
      <input type="password"  placeholder="••••••••"  [(ngModel)]="password"/>
    </div>

    <button type="submit" class="login-btn" (click)="logIn()">შესვლა</button>
    
    </div>
</div>



