
<div class="main-vagon">
  
<button class="btn btn-primary" (click)="backPage()">უკან დაბრუნება</button>
<div class="train-wagon">
  <h2>ფასი : {{ seatPrice }} ლარი</h2>
<div class="btns">
  @for(seat of seats; track seat.seatId){
    <button 
      [disabled]="seat.isOccupied" 
      (click)="selectSeat(seat.seatId)" 
      [ngClass]="{
        'selected': isSeatSelected(seat.seatId),
        'notSelected': !isSeatSelected(seat.seatId)
      }">
      {{ seat.number }}
    </button>
  }
</div>


<button routerLink="/tickets">ადგილის არჩევა</button>
</div>
<div class="service-promo">
  <h3>ჩვენი მომსახურებები</h3>
  <div class="service-row">
    <div class="service-item">
      <i class="fas fa-wifi"></i>
      <span>უფასო Wi‑Fi</span>
    </div>
    <div class="service-item">
      <i class="fas fa-snowflake"></i>
      <span>კონდიციონერი</span>
    </div>
  </div>
  <div class="service-row">
    <div class="service-item">
      <i class="fas fa-coffee"></i>
      <span>ყავის მანქანა</span>
    </div>
    <div class="service-item">
      <i class="fas fa-utensils"></i>
      <span>სასადილო ვაგონი</span>
    </div>
  </div>
  <button class="service-btn">გაიგე მეტი</button>
</div>




</div> 

