 <div class="train-img">
    <img src="https://images.pexels.com/photos/253647/pexels-photo-253647.jpeg" alt="">
 </div> 
 <div class="book-now">
    <h2>Travel with us 🚇</h2>
    <p>You can buy your ticket online 🎫</p>
    <input type="text"  name="start" id="" placeholder="Start 〽️">
    <input type="destination" placeholder="Destination 📍">
    <input type="text" placeholder="Passengers ">
    <button class="check">Chek your tickets</button>
    <button>search</button>
    <div class="date-picker-container">
  <div class="date-field">
    <label for="fromDate">From:</label>
    <input
      type="date"
      id="fromDate"
      name="fromDate"
      [(ngModel)]="fromDate"
      (change)="onFromDateChange()"
    />
  </div>

  <div class="date-field">
    <label for="toDate">To:</label>
    <input
      type="date"
      id="toDate"
      name="toDate"
      [(ngModel)]="toDate"
      [min]="fromDate"
    />
  </div>
</div>

 </div>
 
 <!-- კალენდარი

- <section class="hero">
  <h1>Cheap Train Tickets & Timetables for Germany & Europe</h1>
  <p>From €6.99 — flexible fares, easy booking.</p>
  <a href="#" class="cta">Find best price</a>
</section>

<section class="card-section">
  <div class="card">
    <h2>Travel Flexibly</h2>
    <p>Book now — change your plans anytime</p>
  </div>
  <div class="card">
    <h2>Seat Reservation</h2>
    <p>Reserve a seat directly during booking</p>
  </div>
  სხვა ბარათები -->
<!-- </section> --> 
